.register {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
  }
  
  .register__container {
    width: 530px;
    padding: 4rem;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 1px 2px 0px black;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
  .register__title h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: black;
    text-align: center;
  }
  
  .register__container-fields {
    margin-top: 2rem;
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .register__form-btn-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
  
  .register__form-btn{
    padding: 1rem 2rem;
    background-color: var(--purple-primary);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
    cursor: pointer;
  }