input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #6750A4;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #6750A4;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #6750A4;
    border-radius: 50%;
    cursor: pointer;
}

.filter__container-price{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.filter__container-price-title h5{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.filter__container-price-input-values{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter__container-price-value p:first-child{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}
.filter__container-price-value p:last-child{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}